.DS_Store
*.log*.txt
*.pcap

# Python Virtual Environments
venv/
.venv/
env/
.env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# P4 Compiled Output
*.json

# Editor and OS Junk
.vscode/
.idea/
*.swp
*~